<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClangSharp" version="15.0.2" targetFramework="net48" />
  <package id="ClangSharp.Interop" version="15.0.2" targetFramework="net48" />
  <package id="CppAst" version="0.11.0" targetFramework="net48" />
  <package id="libclang" version="15.0.0" targetFramework="net48" />
  <package id="libClangSharp" version="15.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>